* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: inherit;

}

.home {
    /*background-color: aliceblue;*/
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #1d1d1d;
    border-bottom: 1px solid #424242;
    width: 100%;
    padding: 0 2.5%;
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    display: flex;
    place-items: center;
    text-decoration: none;
    padding: 0 1rem;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #d6d6d6;
}